
#search [type=text]{
  margin-left: 20%;
  margin-top: 20px;
  margin-right: 10px;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-bottom: 0;
}

#searchBar {
                display: inline;

}
#searchButton {
                padding:6px 15px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
                display: inline;
}
#searchButton:hover  {
                background-color:#fafafa;
                color:#207cca;
}

#signIn {
  display: inline;

}
